<!-- ////////////// FOOTER ////////////// -->
footer
	.top
		.container
			.row
				.col-sm-6.col-md-5
						h5 FULLSTACK VIETNAM
						.box
							p Mobile: (+84) 969689893
							p Email: admin@fullstack.com
							p Địa chỉ: 28 đường số 2 - CITYLAND - phường 7 - Gò Vấp - HCM
				.col-sm-6.col-md-4
					h5.name LINKS
					.box1
						ul
							li
								a(href="#")
									i.fa.fa-arrow-right  Khóa học Fonend Master
						ul
							li
								a(href="#")
									i.fa.fa-arrow-right  Khóa học Fullstack developer
						ul
							li
								a(href="#")
									i.fa.fa-arrow-right  Khóa học design chuyên nghiệp
						ul
							li
								a(href="#")
									i.fa.fa-arrow-right  Lịch khai giảng
						ul
							li
								a(href="#")
									i.fa.fa-arrow-right  Đăng ký khóa học
				.col-sm-6.col-md-3.left
					br
					.box2
						ul
							li
								a(href="#")
									i.fa.fa-arrow-right  Lịch khai giảng
						ul
							li
								a(href="#")
									i.fa.fa-arrow-right  Đăng ký khóa học
						ul
							li
								a(href="#")
									i.fa.fa-arrow-right  Khóa học design chuyên nghiệp
						ul
							li
								a(href="#")
									i.fa.fa-arrow-right  Khóa học Fullstack developer
						ul
							li
								a(href="#")
									i.fa.fa-arrow-right  Khóa học Fonend Master
	.bot
		.container
			.row
				.col-sm-8.col-md-8
					p.xyz Copyright 2018 by Fullstack VietNam
				.col-sm-2.col-md-4
					ul.list-inline
						li.list-inline-item
							a(href="#")
								i.fa.fa-twitter
						li.list-inline-item
							a(href="#")
								i.fa.fa-facebook
